<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589137596205-ro6co3i9kqp1b9piptah9or84jml1276.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589137596205-ro6co3i9kqp1b9piptah9or84jml1276</string>
	<key>API_KEY</key>
	<string>AIzaSyA9oV5s2qRshHKwZiZtpm_GEV04tS8JKnc</string>
	<key>GCM_SENDER_ID</key>
	<string>589137596205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orbital.pepper</string>
	<key>PROJECT_ID</key>
	<string>pepper-e9a17</string>
	<key>STORAGE_BUCKET</key>
	<string>pepper-e9a17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589137596205:ios:55733b2a347133e3900da4</string>
</dict>
</plist>